<div class="card">
    <div class="card-body">
        <h4 style="text-decoration:underline"> Acuity Schedule </h4>
</div>
<div class="previous_appt">
    <p>Previous Appointment</p>
    <p class="title">Title of Appointment</p>
    <button class="btn btn-primary" type="submit">Open Link</button>
</div>
<br>
<div class="future_appt">
    <p>Future Appointments</p>
    <p class="title">Title of Appointment</p>
    <button class="btn btn-primary" type="submit">Open Link</button>
</div>
<br>
<div class="view_all">
    <a href="/" style="font-size:12px">View all Appointments</a>

</div>