<h5 class="pastbar p"> Past Appointments</h5>
<p id="pastID"></p>
<p id="pastName"></p>
<p id="pastDate"></p>
<p id="pastAssigned"></p>

{{!-- 
<h5 class="pastbar p ">Future Appointments</h5>
<p id="futureID"></p>
<p id="futureName"></p>
<p id="futureDate"></p>
<p id="futureAssigned"></p>

<h5 class="pastbar p">Today's Appointments</h5>
<p id="todayID"></p>
<p id="todayName"></p>
<p id="todayDate"></p>
<p id="todayAssigned"></p> --}}



<script type="text/javascript" src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let res = null;
    let client = ZAFClient.init();

    //{ { !--get ticket requester name-- } }
    client.get('ticket.requester').then(function (data) {
        data = data['ticket.requester'];
        let requesterName = data.name;
        let requesterEmail = data.email;
        //{ { !--send ticket requester name to server api-- } }
        axios.get(`http://localhost:3000/acuityAPI?requesterName=${requesterName}&requesterEmail=${requesterEmail}`)
            .then(function (response) {

                pastID = "", pastName = "", pastDate = "", pastAssigned= "", futureID= "", futureName= "",futureDate= "", futureAssigned= "", todayID= "", todayName= "",todayDate= "", todayAssigned= ""
                //PAST APPOINTMENTS

                console.log(response.data);
                if (response.data.pastAppointments) {
                    for (let i in response.data.pastAppointments) {
                        pastID += "<p style= 'padding:0; margin:0'> ID: " + response.data.pastAppointments[i].id + "</p>";
                        pastName += "<p style= 'padding:0; margin:0'> Name: " + response.data.pastAppointments[i].name + "</p>";
                        pastDate += "<p style= 'padding:0; margin:0'> Date: " + response.data.pastAppointments[i].date + "</p>";
                        pastAssigned += "<p> Assigned To: " + response.data.pastAppointments[i].assignedTo + "</p>";
                    }
                }
                if (response.data.futureAppointments) {
                    //FUTURE APPOINTMENTS
                    for (let i in response.data.futureAppointments) {
                        futureID += "<p style= 'padding:0; margin:0'> ID: " + response.data.futureAppointments[i].id + "</p>";
                        futureName += "<p style= 'padding:0; margin:0'> Name: " + response.data.futureAppointments[i].name + "</p>";
                        futureDate += "<p style= 'padding:0; margin:0'> Date: " + response.data.futureAppointments[i].date + "</p>";
                        futureAssigned += "<p> Assigned To: " + response.data.futureAppointments[i].assignedTo + "</p>";
                    }
                }
                //TODAY'S APPOINTMENTS
                if (response.data.todaysAppointments) {
                    for (let i in response.data.todaysAppointments) {
                        todayID += "<p style= 'padding:0; margin:0'> ID: " + response.data.todaysAppointments[i].id + "</p>";
                        todayName += "<p style= 'padding:0; margin:0'> Name: " + response.data.todaysAppointments[i].name + "</p>";
                        todayDate += "<p style= 'padding:0; margin:0'> Date: " + response.data.todaysAppointments[i].date + "</p>";
                        todayAssigned += "<p> Assigned To: " + response.data.todaysAppointments[i].assignedTo + "</p>";
                    }
                }

                pastID.length === 0 ? pastID = 'No Past Appointments' : null;
                futureID.length === 0 ? futureID = 'No Future Appointments' : null;
                todayID.length === 0 ? todayID = 'No Appointments Today' : null;


                document.getElementById("pastID").innerHTML = pastID;
                document.getElementById("pastName").innerHTML = pastName;
                document.getElementById("pastDate").innerHTML = pastDate;
                document.getElementById("pastAssigned").innerHTML = pastAssigned;

                document.getElementById("futureID").innerHTML = futureID;
                document.getElementById("futureName").innerHTML = futureName;
                document.getElementById("futureDate").innerHTML = futureDate;
                document.getElementById("futureAssigned").innerHTML = futureAssigned;

                document.getElementById("todayID").innerHTML = todayID;
                document.getElementById("todayName").innerHTML = todayName;
                document.getElementById("todayDate").innerHTML = todayDate;
                document.getElementById("todayAssigned").innerHTML = todayAssigned;

                // Button disabled var = false
                // store x y and z somewhere, maybe session storage or state or some equivalent
                // res = {x: x, y: y, z: z};
            })

            .catch(function (error) {
                console.log(error);
            });
    });
        // function paddsomething() {
        //     document.getElementById('juiceythings').innerhtml = res.x
        //}
