
<div class="card">
    <div class="card-body">
        <h4 style="text-decoration:underline">Acuity Schedule </h4>
</div>
<p id="ticketRequester"></p>
<div class="previous_appt">
    <p>Previous Appointment</p>
    <ul class = "prevAppt">
        {{#each prevAppt}}
        <li>{{this}}</li>
        {{else}}
        <p class="empty">No Previous Appointments</p>
        {{/each}}
    </ul>
    <button class="btn btn-primary" >Open Link</button>
</div>
<br>
<div class="future_appt">
    <p>Future Appointments</p>
        <ul class = "futureAppt">
        {{#each futureAppt}}
        <li>{{this}}</li>
        {{else}}
        <p class="empty">No Future Appointments</p>
        {{/each}}
    </ul>
    <button class="btn btn-primary" >Open Link</button>
</div>
<br>
<div class="view_all">
    <a href="/" style="font-size:12px">View all Appointments</a>

</div>


<script type="text/javascript" src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let client = ZAFClient.init();
    
    {{!-- get ticket requester name --}}


    client.get('ticket.requester').then(function(data){
            data = data['ticket.requester'];
            let requesterName = data.name;
            let requesterEmail = data.email;


            {{!-- send ticket requester name to server api --}}
            axios.get(`https://tranquil-sierra-92404.herokuapp.com/acuityAPI?requesterName=${requesterName}&requesterEmail=${requesterEmail}`)
            .then(function (response) {
                console.dir(`Got a response from the acuity api\n...\n Here comes data ${JSON.stringify(response.data,null," ")}`);
                
                
                
            })
            .catch(function (error) {
                console.log(error);
            });
        });

</script>

