
<div class="card">
    <div class="card-body">
        <h4 style="text-decoration:underline">Acuity Schedule </h4>
</div>
<p> Past Appointments</p>
<p id="past"></p>
<p id="date"></p>
<p id="assignedTo"></p>


<script type="text/javascript" src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let client = ZAFClient.init();
    
    {{!-- get ticket requester name --}}


    client.get('ticket.requester').then(function(data){
            data = data['ticket.requester'];
            let requesterName = data.name;
            let requesterEmail = data.email;


            {{!-- send ticket requester name to server api --}}
            axios.get(`http://localhost:3000/acuityAPI?requesterName=${requesterName}&requesterEmail=${requesterEmail}`)
            .then(function (response) {
                    for ( i = 0 ; i < response.data.futureAppointments.length ; i++){
                    {{!-- document.getElementById("past").innerHTML = "requestor name: " + response.data.todaysAppointments[i].name --}}
                    document.getElementById("past").innerHTML = "requestor name: " + response.data.pastAppointments[i].name
                    document.getElementById("date").innerHTML = "requestor date: " + response.data.pastAppointments[i].date
                    document.getElementById("assignedTo").innerHTML = "requestor assigne to: " + response.data.pastAppointments[i].assignedTo

                } ;


                {{!-- console.log(response.data.futureAppointments[0].name)
                console.log(response.data.futureAppointments.length)
                console.log(response.data) --}}
           
                console.log(response.data)
                
            })
            .catch(function (error) {
                console.log(error);
            });
        });
    
</script>

