<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
Yodely dodely 
{{appointmentData}}





<script type="text/javascript" src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let client = ZAFClient.init();
    
    {{!-- get ticket requester name --}}
    client.get('ticket.requester').then(function(data) {
            data = data['ticket.requester'];
            let requesterName = data.name;
            let requesterEmail = data.email;

            {{!-- send ticket requester name to server api --}}
            axios.get(`http://localhost:3000/acuityAPI?requesterName=${requesterName}&requesterEmail=${requesterEmail}`)
            .then(function (response) {
                console.dir(`Got a response from the acuity api ${JSON.stringify(response.data,null," ")}`);
                
                
            })
            .catch(function (error) {
                console.log(error);
            });
        });
</script>
