
    
    
    <div style="height:710px;">
    <p class="pastbar">Today's Appointments</p>
    <p id="apptToday"></p> 
     
    <p class="pastbar">Future Appointments</p>
    <p id="apptFuture"></p>
    
    <p class="pastbar"> Past Appointments</p>
    {{!-- <button type="button" onclick="pappointments()">Past Appt</button> --}}
    <p id="apptPast"></p>


    </div>


    <script type="text/javascript" src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let res = null;
        let client = ZAFClient.init();

        //{ { !--get ticket requester name-- } }
        client.get('ticket.requester').then(function (data) {
            data = data['ticket.requester'];
            let requesterName = data.name;
            let requesterEmail = data.email;

            //{ { !--send ticket requester name to server api-- } }
            axios.get(`/acuityAPI?requesterName=${requesterName}&requesterEmail=${requesterEmail}`)
                .then(function (response) {
                        //console.log(response.data);

                        x = "", y="", z="";
                        //PAST APPOINTMENTS
                        if (response.data.pastAppointments) {
                            
                        for (let i in response.data.pastAppointments) {
                            x += "<p class = 'rowOne' style= 'padding:0; margin:0'>" + response.data.pastAppointments[i].date + "</p>";
                            x += "<div class='box' id='red'></div><p class = 'rowTwo'style= ' margin:0'>" + response.data.pastAppointments[i].time  + " " + response.data.pastAppointments[i].name + "</p>";
                            x += "<p class = 'rowThree' style= 'padding:0; margin:0 '>" + response.data.pastAppointments[i].type + " | " + response.data.pastAppointments[i].assignedTo + " | " + response.data.pastAppointments[i].time + " to " + response.data.pastAppointments[i].endtime + "</p>";
                            x += "<p class = 'notes'>" + response.data.pastAppointments[i].notes + "</p>";
                        
                        }}
                        if (response.data.futureAppointments) {
                            //FUTURE APPOINTMENTS
                            for (let i in response.data.futureAppointments) {
                            y += "<p class = 'rowOne' style= 'padding:0; margin:0'>" + response.data.pastAppointments[i].date + "</p>";
                            y += "<div class='box'></div><p class = 'rowTwo'style= ' margin:0'>" + response.data.pastAppointments[i].time  + " " + response.data.pastAppointments[i].name + "</p>";
                            Y += "<p class = 'rowThree' style= 'padding:0; margin:0 '>" + response.data.pastAppointments[i].type + " | " + response.data.pastAppointments[i].assignedTo + " | " + response.data.pastAppointments[i].time  + " to " + response.data.pastAppointments[i].endtime + "</p>";
                            y += "<p class = 'notes'>" + response.data.pastAppointments[i].notes + "</p>";
                        }}
                            //TODAY'S APPOINTMENTS
                        if (response.data.todaysAppointments) {
                            for (let i in response.data.todaysAppointments) {
                            z += "<p class = 'rowOne' style= 'padding:0; margin:0'>" + response.data.pastAppointments[i].date + "</p>";
                            z += "<div class='box'></div><p class = 'rowTwo'style= ' margin:0'>" + response.data.pastAppointments[i].time  + " " + response.data.pastAppointments[i].name + "</p>";
                            z += "<p class = 'rowThree' style= 'padding:0; margin:0 '>" + response.data.pastAppointments[i].type + " | " + response.data.pastAppointments[i].assignedTo + " | " + response.data.pastAppointments[i].time + " to " + response.data.pastAppointments[i].endtime + "</p>";
                            z += "<p class = 'notes'>" + response.data.pastAppointments[i].notes + "</p>";
                            }}

                        //If no appointments, display this
                        x.length === 0 ? x = 'No Past Appointments' : null;
                        y.length === 0 ? y = 'No Future Appointments' : null;
                        z.length === 0 ? z = 'No Appointments Today' : null;
                        
                        //Display the data in HTML
                        document.getElementById("apptPast").innerHTML = x;
                        document.getElementById("apptFuture").innerHTML = y;
                        document.getElementById("apptToday").innerHTML = z;



        });
                })

                .catch(function (error) {
                    console.log(error);
                });
        

    </script>