.install {
  background-color: #c64753;
}
.demoyapiTBOD {
  background-color: #db983d;
}
.demoyapiDT {
  background-color: #db983d;
}
.demoyapiFB {
  background-color: #db983d;
}
.demoyapi {
  background-color: #db983d;
}
.demoyapiG {
  background-color: #b5cae5;
}
.practiceDT {
  background-color: #954faf;
}
.checkinDSU {
  background-color: #d1b6dc;
}
.consultationDH {
  background-color: #d1b6dc;
}
.consultationES {
  background-color: #d1b6dc;
}
.consultationFB {
  background-color: #d1b6dc;
}
.consultationDT {
  background-color: #d1b6dc;
}
.demoyapiDH {
  background-color: #db983d;
}
.trainingIpad {
  background-color: green;
}
.uninstallation {
  background-color: #f0eda5;
}
.sessionDoc {
  background-color: #d1b6dc;
}
.supportsessionTtwo {
  background-color: #db90db;
}
.behindSmilesPodcast {
  background-color: #db983d;
}
.yapiMultipleLocationInstall {
  background-color: #db983d;
}
.demoyapiDSN {
  background-color: #db983d;
}
.trainingSession {
  background-color: #f0eda5;
}
.supportSession {
  background-color: green;
}
.yapiUpdate {
  background-color: green;
}
.postInstallation {
  background-color: green;
}
.discoveryMeetingAppt {
  background-color: green;
}
.yapiIRActivation {
  background-color: green;
}
.installPA {
  background-color: green;
}
.callConsultation {
  background-color: green;
}
.patientEngagementActivation {
  background-color: green;
}
.coachingSession {
  background-color: green;
}
.onlineFormTraining {
  background-color: green;
}
.yapiCheckIn {
  background-color: green;
}
.apptRemindersSetup {
  background-color: green;
}
.patientReviewSetup {
  background-color: green;
}
.recallSetup {
  background-color: green;
}
.yapiIR {
  background-color: green;
}

